@import url("./normalize.css");
@import url('https://fonts.googleapis.com/css?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css?family=PT+Sans&display=swap');
@import url('https://fonts.googleapis.com/css?family=Oxanium&display=swap');
@import url('https://fonts.googleapis.com/css?family=Spartan&display=swap');
@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');
* {
    margin: 0;
}



html{
    font-size: 62.5%;
}
header {
    background-image: url('assets/mountains.jpeg');
    width: 100%;
    height: 825px;
}
nav {
    float: right;
    margin: 20px;
    
}
nav a {
    font-size: 1.7rem;
    text-decoration: underline;
    font-family: 'Spartan','Times New Roman';
    color:black;
    margin-left: 15px;
    font-weight: 100;
}

.icon {
    width: 30px;
    height: 30px;
    margin: 15px;
}
.portfh1 {
    height: 550px;
    text-align: center;
    padding-top: 100px;
    font-family: 'Montserrat','Times New Roman';
    font-weight: 900;
    
}
h1 {
    font-size: 5rem; 
}
h2 {
    font-size: 2rem;
}
main {
    background-color: #272a31;
    overflow: auto;
    margin: 0 auto;
    color: white;
}
#aboutme {
    margin: 25px;
    font-family: 'Spartan', 'Times New Roman' ;
    
}
#aboutme img{
    float:left;
}
#aboutme div {
    float:left;
    font-size: 1.6rem;
    width: 45%;
    margin-top: 160px;
}
#aboutme h3 {
    font-size: 3rem;
    margin-bottom: 10px;
    text-decoration: underline;
    font-family: 'Oxanium','Times New Roman';
    font-weight:bold;
}

#profile {
    border-radius: 50%;
    margin: 45px;
}
#qui-gon {
    margin-top: 50px;
    margin-left: 30px;
    font-style: oblique;
}
#portfolio {
    background-color: #54575c;
    height: 665px;
    overflow: auto;
    margin: 0 auto;
    
}
.skills {
    float: left;
    overflow: auto;
    font-size:7rem;
}
.skills ul {
    list-style: none;
}
.skills li {
    float: left;
    margin-top: 50px;
    margin-left: 125px;
}
.skills1 :hover {
    color: #777bb3;
}
.skills2 :hover {
    color: #e34c26;
}
.skills3 :hover {
    color: #264de4;
}
.skills4 :hover {
    color: #f0db4f;
}
.skills5 :hover {
    color: #95cb48;
}
.skills6 :hover {
    color: #80d9f7;
}
.projectlist {
    float: left;
    width: 100%;
    margin-top: 70px;
}
.container3 {
    float: left;
    text-align: center;
    font-family: 'Oxanium','Times New Roman';
}
.container3 button {
    margin-left: 128px;
    width: 83px;
    height: 30px;
    margin-top: 20px;
    font-size:2rem;
    background-color:#acacac;
}
.button1:hover {
    background-color:#ffd944;
}
.button2:hover {
    background-color:#dd4719cf;
}
.projectlist img {
    display: block;
    width: 300px;
    height: 226px;
    margin-left: 127px;
    margin-top: 100px;
}
@media screen and (max-width: 600px) {
	header {
		width:100%;
		height:auto;
	}
	.social {
		width:63px;
	}
	nav {
		float:left;
		text-align: center;
		margin-left:35px;
	}
	.portf {
		padding-top: 50px;
	}
	.portfh1  h1{
		font-size:2rem;
	}
	#aboutme {
		text-align:center;
		width:500px;
	}
	#aboutme img {
		width:200px;
		height:200px;
		margin-left:60px;
	}
	#aboutme div {
	    float: left;
	    font-size: 1.6rem;
	    width: 45%;
	    margin-top: 0px;
	    margin-left: 35px;
	    margin-bottom: 45px;
	}
	#qui-gon {
	    margin-top: 50px;
	    margin-left: -3px;
	    font-style: oblique;
	    font-size: 1.13rem;
	}
	.skills li {
	    float: left;
	    margin-top: 50px;
	    margin-left: 80px;
	}
	.projectlist img {
	    display: block;
	    width: 300px;
	    height: 226px;
	    margin-left: 48px;
	    margin-top: 57px;
	}
	.container3 button {
	    margin-left: 70px;
	    width: 83px;
	    height: 30px;
	    margin-top: 20px;
	    font-size: 2rem;
	    background-color: #acacac;

	}
  }
  @media screen and (max-width: 950px) {
	  #profile {
		  width:25%;
	      border-radius: 50%;
	      margin-right: 10px;
	  }
	  #aboutme div {
	      float: left;
	      font-size: 1.6rem;
	      width: 45%;
	      margin-top: 90px;
	      margin-bottom: 60px;
	  }
	  #portfolio {
	      background-color: 
	      #54575c;
	      height: 1360px;
	      overflow: auto;
	      margin: 0 auto;
	  }
	  .projectlist img {
	      display: block;
	      width: 300px;
	      height: 226px;
	      margin-left: 12%;
	      margin-top: 57px;
	  }
	  .container3 {
	      float: none;
	      font-family: 'Oxanium','Times New Roman';
		  text-align: left;
	  }
	  .container3 button {
	      margin-left: 14%;
	      width: 83px;
	      height: 30px;
	      margin-top: 20px;
	      font-size: 2rem;
	      background-color: #acacac;
	  }
	  button {
		  margin-left: 47px;
	  }
	  
  }
